header{
  text-align: center;
  color: #F58549;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100px;
}

header #top{
  border-bottom: solid #F58549;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin: 0 auto;
}

header #top_left{
  top: 0;
  left: 0;
  width:20%;
}

header #top_left button{
  background: #F58549;
  color: white;
  border: solid #F58549;
  border-radius: 10px;
  height: 30px;
  width: 150px;
}

header #top_left button:hover{
  background: white;
  color: #F58549;
  border: solid #F58549;
  border-radius: 10px;
}

header #top_center{
  display: flex;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  width: 70%;
}
header #marque{
margin: 30px;
}
svg{
fill:#F58549;
background-color: white;
}
.autocomplete {
/*the container must be positioned relative:*/
position: relative;
display: inline-block;
}
input {
border: 1px solid transparent;
background-color: #f1f1f1;
padding: 10px;
font-size: 16px;
}
input[type=text] {
background-color: #f1f1f1;
width: 100%;
}
input[type=submit] {
background-color: DodgerBlue;
color: #fff;
}
.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 99;
/*position the autocomplete items to be the same width as the container:*/
top: 100%;
left: 0;
right: 0;
}
.autocomplete-items div {
padding: 10px;
cursor: pointer;
background-color: #fff;
border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
/*when hovering an item:*/
background-color: #e9e9e9;
}
.autocomplete-active {
/*when navigating through the items using the arrow keys:*/
background-color: DodgerBlue !important;
color: #ffffff;
}

header #top_right{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30%;
}

header #top_right button{
  background: #F58549;
  color: white;
  border: solid #F58549;
  border-radius: 10px;
  height: 30px;
  width: 150px;
}

header #top_right button:hover{
  background: white;
  color: #F58549;
  border: solid #F58549;
  border-radius: 10px;
}

#toolbar{
  height: 30px;
  padding: 10px;
  text-align: center;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  background: rgb(240, 240, 240);
  display:flex;
}

#toolbar div{
  margin: 10px;
}

header a{
  color: #F58549; 
}

header nav a{
  color: black;
}

header nav a:hover{
  color: #F58549;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}



