* {
	margin: 0;
	padding: 0;
    text-decoration: none;
	box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

div #body{
    padding : 10px;
    width: 100% auto;;
}

#recipe, #random_recipe{
    border: 2px solid #F58549;
    width: 80%;
    border-radius: 10px;
    margin-top : 1%;
    margin-left : 10%;
    margin-right : 10%;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
    display: inline-block;
}

.random_recipe{
    background: #FAF0CA;
    align-items: center;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #F58549;
    width: 30% ;
    border-radius: 10px;
    margin : 10px;
    padding: 4px;
    height : 400px;
    font-size: 15px;
    overflow: hidden;
    /*text-align: bottom;*/
}
.random_recipe img {
    display: block;
    width: 60%;
    margin: 0 auto;
}

.recipe{
    margin-left:10%;
    margin-right:10%;
}

a{
    color: black;
    text-decoration : none;
}
img {
    width: 400px;
    height: 300px;
}

hr{
    height: 3px;
    background-color: #F58549;
    border: none;
}

footer{
    background: rgb(240, 240, 240);
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}