* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    text-align: center;
    color: #F58549;
    justify-content: center;
    align-items: center;
}

header #top{
    border-bottom: solid #F58549;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #top_left{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

header #top_center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

header #top_right{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

header #top_right button{
    background: #F58549;
    color: white;
    border: solid #F58549;
    border-radius: 10px;
    height: 30px;
    width: 150px;
}

header #top_right button:hover{
    background: white;
    color: #F58549;
    border: solid #F58549;
    border-radius: 10px;
}

header nav{
    height: 30px;
    padding-top: 10px;
    text-align: center;
    vertical-align: top;
    background: rgb(240, 240, 240);
}

header a{
    color: #F58549; 
}

header nav a{
    color: black;
}

div #body{
    padding : 10px;
    width: 100% auto;;
}

#recipe, #random_recipe{
    border: 2px solid #F58549;
    width: 80%;
    border-radius: 10px;
    margin-top : 1%;
    margin-left : 10%;
    margin-right : 10%;
    margin-bottom: 10px;
    align-content: center;
    align-items: center;
    display: inline-block;
}

.random_recipe{
    background: #FAF0CA;
    align-items: center;
    display: inline-block;
    border: 2px solid #F58549;
    width: 30% ;
    border-radius: 10px;
    margin : 10px;
    padding: 4px;
    height : 400px;
    font-size: 15px;
    /*text-align: bottom;*/
}

.recipe{
    margin-left:10%;
    margin-right:10%;
}

a{
    color: black;
    text-decoration : none;
}

footer{
    background: rgb(240, 240, 240);
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}